.formBody {
  margin: 30px;
}

.formBody .ant-form-item-label,
.formBody .ant-form-item-control-wrapper {
  float: left;
}

.formBody .ant-form-item-label {
  width: 100px;
}

.formBody .ant-form-item-control-wrapper {
  width: calc(100% - 100px);
}

.formBody .ant-form-item-control-wrapper .ant-select {
  width: 60% !important;
}

.formBody .ant-form-item-control-wrapper .ant-input,
.formBody .ant-form-item-control-wrapper .ant-input-number,
.formBody .ant-form-item-control-wrapper .ant-calendar-picker {
  width: 60%;
}

.formBody .ant-calendar-picker-input {
  width: 100% !important;
}

.formBody .form-btns {
  height: 40px;
  margin: 17px 0 17px 10px;
  width: 60%;
  text-align: center;
}

.formBody .form-btns .ant-btn {
  margin: 0 15px 0 0;
}

.formBody .form-btns .ant-btn-danger {
  background: #f5222d;
  border: solid 1px #f5222d;
  color: #fff;
}

.formBody .tow-rows .ant-form-item {
  width: 50%;
  float: left;
}

.formBody .tow-rows .form-btns {
  width: 100%;
}

.formBody .three-rows .ant-form-item {
  width: calc(100% / 3);
  float: left;
}

.formBody .three-rows .form-btns {
  width: 100%;
}
