html,body,#root,.ant-layout {
  width: 100%;
	height: 100%;
	background: #fff;
}
.at-header{
  background: #fff;
  padding: 0;
	margin: 0;
	height: 70px;
	.ant-layout-header{
		width: 100%;
		height: 100%;
		background: #fff;
		padding: 0;
		.logo,.content{
			float: left;
		}
		.logo{
			width: 200px;
			background: url(../images/logo.png) no-repeat #363942 center;
			background-size: 100px auto;
		}
		.content{
			width: calc(100% - 200px);
			padding: 0 15px;
			background: #444853;
		}
		.ant-menu{
			background: none;

		}
		*{
			color: #fff;
		}
		.ant-menu-item{
			border: none;
			 span:hover{
				color: #FFBD1F;
			 }
		}
		.ant-menu-item:hover{
			 border: none;
			 color: #FFBD1F;

		}
	}
}
.at-main{
  padding: 0 15px;
  background: #fff;
  overflow-y: auto;
}

.ant-layout-sider{
	background: #444853;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub{
	background: rgba(0,0,0,0.1);
	box-shadow:none;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
	background: #444853;
}


.ant-menu-item{
	margin: 0!important;
}

.at-layout{
	margin: -1px 0 0;
}
.ant-menu-submenu-open{
	.ant-menu-submenu-arrow::after,.ant-menu-submenu-arrow::before{
		background: #FFBD1F!important;
	}
	.ant-menu-submenu-title{
		color: #FFBD1F;
	}
	svg{
		color: #FFBD1F;
	}
}

.opera span{
	color: #FFBD1F;
	cursor: pointer;
	margin: 0 10px 0 0;
	.anticon svg {
		color: #FFBD1F;
	}
}


.ant-menu-submenu-open:hover{
	.ant-menu-submenu-title{
		color: #FFBD1F;
	}
}







// Header
.ant-menu-submenu-horizontal .ant-menu-vertical .logout{
	padding: 0;
}
.logout span{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.ant-pagination {
	float: right;
	margin: 20px 0!important;
}
.ant-layout-sider{

	.ant-menu-item-selected{
			background: #37393d!important;
			*{
				color: #FFBD1F!important;
			}
	}

}
.ant-modal-header{
	background: #FFBD1F!important;
	*{
			color: #fff!important;
	}
}
.ant-pagination-item,.ant-pagination-item-link{
	&:hover,&:focus{
			border-color: #FFBD1F!important;
			*{
					color: #FFBD1F!important;
			}

	}
}
.ant-pagination-item-active{
	border-color: #FFBD1F!important;
}
.ant-pagination-item-active a{
	color: #FFBD1F!important;
}
.ant-col{
	.ant-form-item{
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			.ant-form-item-label{
					width: 20%;
			}
			.ant-form-item-control-wrapper{
					width: 80%;
					.ant-form-item-control{
							width: 70%;
					}
			}

	}
}

.ant-col2{
	display: flex;
	flex-flow: row wrap;
	.ant-form-item{
			width: 50%;
			display: flex;
			flex-flow: row wrap;
			.ant-form-item-label{
					width: 20%;
			}
			.ant-form-item-control-wrapper{
					width: 80%;
					.ant-form-item-control{
							width: 90%;
					}
			}

	}
}
.formBtn{
	text-align: center;
	margin: 10px 0;
	width: 100%;
	.ant-btn{
			margin: 0 0 0 20px;
			&:first-child{
					margin: 0;
			}
	}
}

.ant-modal-close-x{
	color: #fff;
}

.opera span:last-child{
	svg{
		color: #ff0000;
	}
	color: #ff0000;
}
.ant-main{
	height: auto;
}
